*{
  margin: 0 ;
  padding: 0;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #32313a;
  /*margin-bottom: 50px;*/
  max-width: 100%!important;
  min-height: 100%!important;
}

footer {
  background-color: #32313a;
  position: absolute;
  vertical-align: middle;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  height: 50px;
}
footer div{
  margin: 0 auto!important;
}
#wrap-content{
  background-color: #f1f2f7;
  min-height:100%!important; 
}

a.navbar-brand {
  width: 100%;
  margin: 0;
}

.bg-white {
  background-color: #ffffff;
}
.bg-purple {
  background-color: #32313a;
}
.bg-purple .navbar-brand {
  background-color: #28282e;
  padding: 15px 20px;
}

.imguser {
  width: 10rem;
  height: 10rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
a i{
  color: white;
}

/* .sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  } */
.sidebar {
    -ms-flex-order: 0;
    order: 0;
    padding: 0;
}
#sidebar-nav:not(.show) ~ #wrap-content {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
#sidebar-nav > .sidebar-nav > .navbar-nav > .nav-item {
  padding: 0 15px;
}

table{
  text-align: center;
}
td{
  vertical-align: initial!important;
}

strong .fa-file-invoice{
  color: #3f2b3c;
  font-size: 25px;
}
strong .fa-cog{
  color: #3f2b3c;
  font-size: 25px;
}
.lk{
  color: #3f2b3c;
}
.lk:hover{
  color: #3f2b3c;
  text-decoration: none;
}
a{
  color: #3f2b3c;
  text-decoration: none!important;
}
#table-radius{
  border-radius: 5px!important;
}
.itens{
  color: white!important;
}
@media (max-width: 768px) {
    .sidebar.collapse:not(.show) {
        display: block;
    }
    .sidebar.collapse.show {
        display: none;
    }
}
@media (min-width: 768px) {
    .sidebar {
        position: -webkit-sticky;
        position: sticky;
        top 0;
        bottom 0;
        z-index: 1000;
        height: calc(100vh);
    }
    .sidebar-nav {
        max-height: calc(100vh);
        overflow-y: auto;
        display: block!important;
    }
}
@media (min-width: 1200px) {
    .sidebar {
       
    }
}